*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
  padding: 1rem;
}

h1 {
  font-size: 1.5rem;
}

button {
  cursor: pointer;
}

.btn {
  padding: 0.5rem 0.75rem;
  background-color: black;
  color: white;
  font-weight: 500;
  font-size: 0.875rem;
  border: 2px solid black;
}

.btn:hover {
  background-color: #232323;
}

svg {
  display: block;
  max-width: 100%;
}

.form-container {
  max-width: 380px;
  margin-top: 1rem;
}

label {
  display: block;
}

input {
  max-width: 100%;
  margin-top: 0.5rem;
}

#chartContainer {
  margin-top: 2rem;
}

g.graph-point {
  fill: rgba(33, 165, 175, 0);
  stroke-width: 1;
  stroke: none;
}

g.graph-line {
  fill: rgba(53, 55, 58, 0.5);
  stroke: rgb(188, 198, 223);
}

g.graph-text {
  fill: black;
  stroke-width: 1;
  stroke: none;
  text-anchor: middle;
  font-size: 1rem;
}

#real {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  border: 2px solid lightgray;
}

.btn-download-chart-as-svg,
.btn-download-chart-as-png {
  margin-top: 1rem;
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 1.875rem;
  }
}
